## Bookings per airport

In [64]:
import pandas as pd

filename = '/media/sf_SharedVirtbox/bookings.csv/bookings.csv'
columns = ['arr_port', 'pax']

bookings_df = pd.read_csv(filename, nrows=10, sep='^', usecols=columns)

## Explore data

In [65]:
bookings_df.head()

   arr_port  pax
0  LHR        -1
1  CLT         1
2  CLT         1
3  SVO         1
4  SVO         1

In [71]:
# Read huge dataset (GBs size .csv) by chunks to avoid OOM, chunksize at will for now 
# Perform groupby on chunked dataframes, then a final one combining these
chunksize = 50000

dataframes = []

for chunk in pd.read_csv(filename, sep='^', usecols=columns, chunksize=chunksize):
    dataframes.append(chunk.groupby(['arr_port']).sum())

df = pd.concat(dataframes)
nb_pax_per_airport = df.groupby(['arr_port']).sum()

## Show list of 10 biggest airports per pax arrivals

In [76]:
nb_pax_per_airport.sort_values('pax', ascending=False).head(10)

              pax
arr_port
LHR       88809.0
MCO       70930.0
LAX       70530.0
LAS       69630.0
JFK       66270.0
CDG       64490.0
BKK       59460.0
MIA       58150.0
SFO       58000.0
DXB       55590.0